{% extends 'adminsapp/base.html' %}
{% block content %}
    <main>
        <div class="container-fluid">
            {% if messages or form.errors %}
                <div class="alert {% if messages.success %} alert-success {% else %} alert-warning {% endif %} alert-dismissible fade show" role="alert"
                     style="margin-top: 50px;">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% else %}
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <h1 class="mt-4">Категории товаров</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Категории товаров
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                 <th>Наименование</th>
                            </tr>
                            </tfoot>
                            <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td><a href="{% url 'admins:category_update' category.id %}" style="color: dodgerblue">{{ category.name }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admins:category_create' %}">
                        <button class="btn btn-success">Создать категорию</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}