{% extends 'adminsapp/base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Редактирование покупателя | {{ buyer.username }}</h1>
            <div class="card-body">
                <div class="form-row">
                    <div class="col-4 text-center">
                        <img src="{% if buyer.avatar %} {{ buyer.avatar.url }} {% else %} {% static 'vendor/img/default_avatar.jpg' %} {% endif %}"
                             class="img-thumbnail">
                    </div>
                    <div class="col">
                        <form action="{% url 'admins:buyer_update' buyer.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row mb-2">
                                <label class="small mb-1" for="{{ form.username.id_for_label }}">Имя
                                    пользователя</label>
                                {{ form.username }}
                            </div>
                            <div class="form-row mb-2">
                                <label class="small mb-1" for="{{ form.email.id_for_label }}">Адрес электронной
                                    почты</label>
                                {{ form.email }}
                            </div>
                            <div class="form-row mb-2">
                                <label class="small mb-1" for="{{ form.first_name.id_for_label }}">Имя</label>
                                {{ form.first_name }}
                            </div>
                            <div class="form-row mb-2">
                                <label class="small mb-1" for="{{ form.last_name.id_for_label }}">Фамилия</label>
                                {{ form.last_name }}
                            </div>
                             <div class="form-row mb-2">
                                <label class="small mb-1" for="{{ form.age.id_for_label }}">Возраст</label>
                                {{ form.age }}
                            </div>
                            <div class="form-row mb-2">
                                <div class="custom-file">
                                    {{ form.avatar }}
                                    <label class="custom-file-label" for="{{ form.avatar.id_for_label }}">Выберите
                                        изображение</label>
                                </div>
                            </div>
                            <div class="form-row pt-3">
                                <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                            </div>
                        </form>

                        <form action="{% url 'admins:buyer_change_activity' buyer.id %}" method="post">
                            {% csrf_token %}
                             <div class="form-row pt-3">
                                {% if buyer.is_active %}
                                    <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                                {% else %}
                                    <input class="btn btn-info btn-block" type="submit" value="Восстановить">
                                {% endif %}
                             </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}